/******** BASE STYLES *******/
$pearl-aqua: #7AE7C7;
$green-sheen: #75BBA7;
$slate-gray: #6C809A;
$deep-taupe: #795663;
$umber: #645244;
$font-stack: 'Source Sans Pro', Helvetica, sans-serif;
$main-font-size: 1.2em;

body {
    background-color: $deep-taupe;
    color: $green-sheen;
    font-size: $main-font-size;
    display: flex;
    justify-content: center;
    font-family: $font-stack;
    min-width: 330px;
}

a {
	color: $green-sheen;
	text-decoration: none;
}

h1 {
	margin-bottom: 0.1em;
}

h2 {
	margin-top: 0.2em;
	margin-bottom: 0.5em;
}

h3 {
	margin: 0 5px;
	margin-top: 10px;
}

/******* MAIN STYLES *******/
#app-container {
    background-color: $slate-gray;
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 5%;
}
#search-panel {
    margin: 2% 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    // color: $light-lime;
    // background-color: $light-brown;
}
#search-box {
	display: flex;

	margin: 0 auto 1%;
    background-color: $umber;
    color: $green-sheen;
    border-radius: 20px;
    font-size: 1.2em;
    text-align: center;
    outline: none;
    border: none;
    padding: 2% 3%;
}
#search-button,
#random-button {
	display: flex;
	align-items: center;
	justify-content: center;
    margin: 5% 0;
    max-width: 90px;
    font-size: 1em;
    cursor: pointer;
	background-color: $umber;
    color: $green-sheen;
    border-radius: 50px;
    padding: 3% 6%;
	text-align: center;
}
#search-button:hover {
    color: $deep-taupe;
}

.entry {
	display: flex;
	// flex-direction:
	align-items: center;
	flex-direction: row;
	justify-content: center;
}

.entry:nth-child(odd) {
	background-color: $umber;
}

.res-link {
	width: 80%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.res-title {
	color: $pearl-aqua;
}

.res-info {

}




/******* PSEUDO STYLES *******/











/******* MEDIA QUERIES *******/
