/******** BASE STYLES *******/
$black-shadows: #BFB7B6;
$outer-space: #435058;
$slate-gray: #6C809A;
$booger-buster: #DCF763;
$roman-silver: #848C8E;
$isabelline: #F1F2EE;
$font-stack: 'Source Sans Pro', Helvetica, sans-serif;
$main-font-size: 1.2em;

body {
    background-color: $slate-gray;
    color: $outer-space;
    font-size: $main-font-size;
    display: flex;
    justify-content: center;
    font-family: $font-stack;
    min-width: 330px;
}

a {
	color: $outer-space;
	text-decoration: none;
}

h1 {
	margin-bottom: 0.1em;
	margin-top: 0.1em;
}

h2 {
	margin-top: 0.2em;
	margin-bottom: 0.5em;
}

h3 {
	margin: 0 5px;
	margin-top: 10px;
}

/******* MAIN STYLES *******/
#app-container {
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 5%;
}
#search-panel {
    margin: 2% 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#search-box {
	display: flex;

	margin: 0 auto 1%;
    background-color: $isabelline;
    color: $outer-space;
    border-radius: 20px;
    font-size: 1.2em;
    text-align: center;
    outline: none;
    border: none;
    padding: 2% 3%;
}
#search-button {
	display: flex;
	align-items: center;
	justify-content: center;
    margin: 5% 0;
    max-width: 90px;
    font-size: 1em;
    cursor: pointer;
	background-color: $isabelline;
    color: $outer-space;
    border-radius: 50px;
    padding: 3% 6%;
	text-align: center;
}

#random-button:hover {
	color: $booger-buster;
}

#search-button:hover {
    color: $roman-silver;
}

.entry {
	display: flex;
	background-color: $isabelline;
	align-items: center;
	flex-direction: row;
	justify-content: center;
	margin-top: 10px;
}

.entry:nth-child(odd) {
	background-color: $isabelline;
}

.entry:hover {
	background-color: $booger-buster;
}

.res-link {
	width: 80%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.res-title {
	color: $slate-gray;
}


/******* PSEUDO STYLES *******/


/******* MEDIA QUERIES *******/
